@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    color: #00a2c6
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {           /*ukuran gambar*/
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {              /*ukuran profil bandung*/
    width: 200px;
}

div figcaption {           /*source*/
    font: italic lighter x-small 'Quicksand';
}

.card {         /*menerapkan card style pada elemen artikel*/
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: auto;
}

.jumbotron {            /*jumbotron pada header*/
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky; /*menerapkan posisi nav agar tetap berada pada tampilan browser*/
    top: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {          /*menerapkan float kiri pada konten*/
    float: left;
    width: 75%;
}

aside {             /*menerapkan float kanan pada konten, <main> akan naik ke atas karena content dan 
                    aside sudah keluar dari normal flow.*/
    float: right;
    width: 25%;
    padding-left: 20px; /*elemen aside bukan 25% lagi, maka dari itu terapkan border box agar tetap 25%*/
}

* {
    box-sizing: border-box;
}

/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 992px 
@media screen and (max-width: 992px) {
    ........
}

Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 600px 
@media screen and (max-width: 600px) {
      ........
} */

@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}

/* 
@font-face {
    font-family: "Dicoding font"
    src: url ('FILE-FONT-TTF')
} */

/*MINIMIZE UKURAN CSS..
    agar pencarian tidak berat.
    hapus berikut ini:
        New line characters (Baris baru)
        Whitespace characters (Spasi)
        Block delimiters (Pembatas block)
        CSS comments (Komentar CSS)*/

/*PROFIL WALIKOTA DAN WAKIL WALIKOTA*/
